#title {
  text-align:  center;
  font-size:   30px;
  font-weight: 900;
  font-family: "Noto Serif", serif;
}

#readable {
  font-family: "Noto Serif", serif;
}

body {
  margin: 20px 20px;
}

table,
h1,
h2,
p {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size:   30px;
  font-weight: 900;
}

h1::after {
  content:    '';
  display:    block;
  margin-top: 15px;
  border-top: 1.5px solid #9A9A9A;
}

table,
h2 {
  font-size:   24px;
  font-weight: 800;
}

p {
  font-size: 16px;
}

pre {
  font-size:   12px;
  font-family: "D2 Coding", monospace;
}
