@font-face {
  font-family: "굴림";
  src: local("HY둥근고딕M"), local("HYRGothic-Medium"),
    local("Nanum Gothic"), local("Nanum Gothic Regular"), local("NanumGothic-Regular"),
    url(./fonts/NanumGothic.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "굴림체";
  src: local("Nanum Gothic Coding"), local("NanumGothicCoding"),
    local("Nanum Gothic Coding Regular"), local("NanumGothicCoding-Regular"),
    url(./fonts/NanumGothicCoding.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Gulim;
  src: local("HY둥근고딕M"), local("HYRGothic-Medium"),
    local("Nanum Gothic"), local("Nanum Gothic Regular"), local("NanumGothic-Regular"),
    url(./fonts/NanumGothic.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: GulimChe;
  src: local("Nanum Gothic Coding"), local("NanumGothicCoding"),
    local("Nanum Gothic Coding Regular"), local("NanumGothicCoding-Regular"),
    url(./fonts/NanumGothicCoding.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "굴림";
  src: local("HY둥근고딕B"), local("HYRGothic-Bold"),
    local("Nanum Gothic Bold"), local("NanumGothic-Bold"),
    url(./fonts/NanumGothicBold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "굴림체";
  src: local("Nanum Gothic Coding Bold"), local("NanumGothicCoding-Bold"),
    url(./fonts/NanumGothicCoding-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Gulim;
  src: local("HY둥근고딕B"), local("HYRGothic-Bold"),
    local("Nanum Gothic Bold"), local("NanumGothic-Bold"),
    url(./fonts/NanumGothicBold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: GulimChe;
  src: local("Nanum Gothic Coding Bold"), local("NanumGothicCoding-Bold"),
    url(./fonts/NanumGothicCoding-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "돋움";
  src: local("Apple SD Gothic Neo"), local("Malgun Gothic"),
    local("Noto Sans"), local("NotoSans"),
    local("Noto Sans KR Regular"), local("NotoSansKR-Regular"),
    url(./fonts/NotoSansCJKkr-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "돋움체";
  src: local("Apple SD Gothic Neo"), local("Malgun Gothic"),
    local("Noto Mono"), local("NotoMono"),
    local("Noto Sans Mono"), local("NotoSansMono"),
    local("Noto Sans Mono Regular"), local("NotoSansMono-Regular"),
    url(./fonts/NotoSansMonoCJKkr-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: dotum;
  src: local("Apple SD Gothic Neo"), local("Malgun Gothic"),
    local("Noto Sans"), local("NotoSans"),
    local("Noto Sans KR Regular"), local("NotoSansKR-Regular"),
    url(./fonts/NotoSansCJKkr-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: DotumChe;
  src: local("Apple SD Gothic Neo"), local("Malgun Gothic"),
    local("Noto Mono"), local("NotoMono"),
    local("Noto Sans Mono"), local("NotoSansMono"),
    local("Noto Sans Mono Regular"), local("NotoSansMono-Regular"),
    url(./fonts/NotoSansMonoCJKkr-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "돋움";
  src: local("Apple SD Gothic Neo Bold"), local("AppleSDGothicNeo-Bold"), local("Malgun Gothic"),
    local("Noto Sans Bold"), local("NotoSans-Bold"),
    local("Noto Sans KR Bold"), local("NotoSansKR-Bold"),
    url(./fonts/NotoSansCJKkr-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "돋움체";
  src: local("Apple SD Gothic Neo Bold"), local("AppleSDGothicNeo-Bold"), local("Malgun Gothic"),
    local("Noto Mono Bold"), local("NotoMono-Bold"),
    local("Noto Sans Mono-Bold"), local("NotoSansMono-Bold"),
    local("Noto Sans Mono KR Bold"), local("NotoSansMonoKR-Bold"),
    url(./fonts/NotoSansMonoCJKkr-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: dotum;
  src: local("Apple SD Gothic Neo Bold"), local("AppleSDGothicNeo-Bold"), local("Malgun Gothic"),
    local("Noto Sans Bold"), local("NotoSans-Bold"),
    local("Noto Sans KR Bold"), local("NotoSansKR-Bold"),
    url(./fonts/NotoSansCJKkr-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: DotumChe;
  src: local("Apple SD Gothic Neo Bold"), local("AppleSDGothicNeo-Bold"), local("Malgun Gothic"),
    local("Noto Mono Bold"), local("NotoMono-Bold"),
    local("Noto Sans Mono-Bold"), local("NotoSansMono-Bold"),
    local("Noto Sans Mono KR Bold"), local("NotoSansMonoKR-Bold"),
    url(./fonts/NotoSansMonoCJKkr-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "바탕";
  src: local("KoPub Batang"), local("KoPub Batang Medium"), local("KoPubBatang-Medium"), local("KoPub바탕체-Medium"),
    local("KoPub Batang Regular"), local("KoPubBatang-Regular"), local("KoPub바탕체-Regular"),
    url(./fonts/KoPub-Batang_Pro-Medium.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "바탕체";
  src: local("KoPub Batang"), local("KoPub Batang Medium"), local("KoPubBatang-Medium"), local("KoPub바탕체-Medium"),
    local("KoPub Batang Regular"), local("KoPubBatang-Regular"), local("KoPub바탕체-Regular"),
    url(./fonts/KoPub-Batang_Pro-Medium.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Batang;
  src: local("KoPub Batang"), local("KoPub Batang Medium"), local("KoPubBatang-Medium"), local("KoPub바탕체-Medium"),
    local("KoPub Batang Regular"), local("KoPubBatang-Regular"), local("KoPub바탕체-Regular"),
    url(./fonts/KoPub-Batang_Pro-Medium.woff2) format("woff2");
}

@font-face {
  font-family: BatangChe;
  src: local("KoPub Batang"), local("KoPub Batang Medium"), local("KoPubBatang-Medium"), local("KoPub바탕체-Medium"),
    local("KoPub Batang Regular"), local("KoPubBatang-Regular"), local("KoPub바탕체-Regular"),
    url(./fonts/KoPub-Batang_Pro-Medium.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "바탕";
  src: local("KoPub Batang Bold"), local("KoPubBatang-Bold"), local("KoPub바탕체-Bold"),
    url(./fonts/KoPub-Batang_Pro-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "바탕체";
  src: local("KoPub Batang Bold"), local("KoPubBatang-Bold"), local("KoPub바탕체-Bold"),
    url(./fonts/KoPub-Batang_Pro-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Batang;
  src: local("KoPub Batang Bold"), local("KoPubBatang-Bold"), local("KoPub바탕체-Bold"),
    url(./fonts/KoPub-Batang_Pro-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: BatangChe;
  src: local("KoPub Batang Bold"), local("KoPubBatang-Bold"), local("KoPub바탕체-Bold"),
    url(./fonts/KoPub-Batang_Pro-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: AppleGothic;
  src: local("Apple SD Gothic Neo"), local("Malgun Gothic"),
    local("Gothic A1 Regular"), local("GothicA1-Regular"),
    url(./fonts/GothicA1-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: AppleGothic;
  src: local("Apple SD Gothic Neo Bold"), local("AppleSDGothicNeo-Bold"), local("Malgun Gothic"),
    local("Gothic A1 Regular"), local("GothicA1-Regular"),
    url(./fonts/GothicA1-Regular.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Arial;
  src: local("Helvetica Neue"), local("HelveticaNeue"),
    local("Helvetica Neue Roman"), local("HelveticaNeue-Roman"),
    local("Helvetica"), local("Helvetica Roman"), local("Helvetica-Roman"),
    local("Arial"), local("Arial Regular"),
    local("Gothic A1 Regular"), local("GothicA1-Regular"),
    url(./fonts/GothicA1-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Arial;
  src: local("Helvetica Neue Italic"), local("HelveticaNeue-Italic"),
    local("Helvetica Oblique"), local("Helvetica-Oblique"),
    local("Arial Italic"), local("Arial-Italic"),
    local("Gothic A1 Regular"), local("GothicA1-Regular"),
    url(./fonts/GothicA1-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Arial;
  src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"),
    local("Helvetica Bold"), local("Helvetica-Bold"),
    local("Arial Bold"),
    local("Gothic A1 Bold"), local("GothicA1-Bold"),
    url(./fonts/GothicA1-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Arial;
  src: local("Helvetica Neue Bold Italic"), local("HelveticaNeue-BoldItalic"),
    local("Helvetica Bold Oblique"), local("Helvetica-BoldOblique"),
    local("Arial Bold Italic"), local("Arial-BoldItalic"),
    local("Gothic A1 Bold"), local("GothicA1-Bold"),
    url(./fonts/GothicA1-SemiBold.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Arial;
  src: local("Helvetica Neue Black"), local("HelveticaNeue-Black"),
    local("Helvetica Neue LT W05 95 Black"),
    local("Helvetica Black"), local("Helvetica-Black"),
    local("Helvetica LT W01 Black"),
    local("Arial Black"), local("Arial-Black"),
    local("Gothic A1 Black"), local("GothicA1-Black"),
    url(./fonts/GothicA1-Black.woff2) format("woff2");
  font-weight: 900;
}
